layout{
  default_tab_template{
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
  children
    pane size=1 borderless=true {
      plugin location="zellij:status-bar"
    }
  }//termina templete
//=======================================>
  tab name="python" {
    pane {
      start_suspended true
      command "nvim"
      cwd "/home/jorch/Documentos/cursos/python"
    }
  }//termina python
//===========================================>
/*
  tab name="term Py"{
    pane{
      start_suspended true
      command "nvim"
    }
  }//termina term Py
*/
//===========================================>
tab name="proyectos"{
  pane{
  start_suspended true
  command "nvim"
  cwd "/home/jorch/Documentos/cursos/Proyectos" // ruta que se abrira
  }// termina pane
}//termina proyectos
}//termina layout

